<div id="background">
  <div class="head">
    <h1>Open TTC</h1>
  </div>

  <div class="container-small">
    <div class="bar">
      <h3>Bringing transparency to the TTC with bus and streetcar analytics.</h3>
     
      <select [(ngModel)]="selected">
        <option *ngFor="let r of routes" [ngValue]="r">{{r.title}}</option>
      </select><button id="search" (click)="onSelectRoute(selected)">Search</button>
    </div>
  </div>
</div>
<div class="divider"></div>
<div id="specialBox">
  <h2 *ngIf="currentRoute">{{currentRoute.id}}</h2>
</div>
<div class="container" *ngIf="currentRoute">
  <h4>{{currentRoute.title}}</h4>
  <ul *ngFor="let stop of currentRoute.stops" (click)="onSelectStop(stop)">
    <li class="card">
      <div class="card-top"><p class="card-title">{{stop.title}}</p></div>
      <p>#{{stop.id}}<span class="min">MIN</span><span class="green">{{stop.predictedMinutes}}</span></p>
      <div class="halfDiv">
        <h4>{{stop.nextPredictArrival}}</h4>
        <p class="center">ESTIMATE</p>
      </div><div class="halfDiv">
        <h4>{{stop.nextScheduleArrival}}</h4>
        <p class="center">SCHEDULE</p>
      </div><div class="halfDiv">
        <h5>0</h5>
        <p class="center">TODAY</p>
      </div><div class="halfDiv">
        <h5>2</h5>
        <p class="center">THIS WEEK</p>
      </div>
    </li>
  </ul>
  <div class="halfDiv">
    <input id="compliment" type="button" value="Compliment" (click)="compliment()"/>
  </div><div class="halfDiv">
    <input id="complain" type="button" value="Complain" (click)="complain()"/>
  </div>
</div>
<div class="divider" style="height: 6em; margin-top: 2em">
  <h6>Created by Tal Zaitsev and David Minin for UofT Hacks 4.</h6>
</div>