<div id="background">
  <div class="head">
    <h1>Open TTC</h1>
  </div>

  <div class="container-small">
    <div class="bar">
      <h3>Bringing transparency to the TTC with bus and streetcar analytics.</h3>
     
      <select [(ngModel)]="selected">
        <option *ngFor="let r of routes" [ngValue]="r">{{r.title}}</option>
      </select><button id="search" (click)="onSelectRoute(selected)">Search</button>
    </div>
  </div>
</div>
<div class="divider"></div>
<div id="specialBox">
  <h2 *ngIf="currentRoute">{{currentRoute.id}}</h2>
</div>
<div class="container" *ngIf="currentRoute">
  <h4>{{currentRoute.name}}</h4>
  <ul *ngFor="let stop of currentRoute.stops" (click)="onSelectStop(stop)">
    <li>
      <div class="card-top"><p class="card-title">{{stop.title}}</p></div>
      <p>{{stop.id}}<span class="min">min</span><span class="green">N/A</span></p>
      <div class="halfDiv">
        <h5>7:32</h5>
        <p class="center">Cur. Estimate</p>
      </div><div class="halfDiv">
        <h5>7:30</h5>
        <p class="center">Expected At</p>
      </div>
      <div class="halfDiv">
        <h5>0</h5>
        <p class="center">Late Today</p>
      </div><div class="halfDiv">
        <h5>2</h5>
        <p class="center">Late This Week</p>
      </div>
    </li>
  </ul>
</div>
<div class="divider" style="height: 6em; margin-top: 2em">
  <h6>Created by Tal Zaitsev and David Minin for UofT Hacks 4.</h6>
</div>