#background{
    background-image: url("./../assets/wallpaper.jpg");
    background-size: cover;                  
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 550px;
    display: inline-block;
}

.head {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.bar {
    margin: 1em auto;
    display: table-row;
}

.divider {
    height: 2em;
    width: 100%;
    background-color: #13181C;
}

.halfDiv {
    width: 50%;
    display: inline-block;
    margin: 0.5em 0;
}

.green {
    color: limegreen;
    font-weight: 500;
    float: right;
}

.min {
    float: right;
    margin: 0 2px;
    font-size: 0.9em;
    padding-top: 2px;
}

.container-small {
    width: 55%;
    margin: 0 auto;
    display: table;
}

.container ul {
    padding: 0; 
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: auto;
}
.container ul li {
    width: 28%;
    background: white;
    border-radius: 2px;
    float: left;
    margin: 1.25% 0 1.25% 4%;
    padding: 1%;
    display: block;
    border: 1px solid rgba(144, 144, 144, 0.25);
    padding: 1px 2px 0 0;
}

select{
    width: 50%;
    padding-left: 10px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 1em 0 0 15%;
    vertical-align: bottom;
    font-size: 1em;
    border: none;
}

select:focus {
    border: none;
}

#specialBox {
    position: relative;
    left: 4em;
    width: 20em;
    height: 10em;
    top: -6em;
    background-color: #13181C;
    border-radius: 8px;
    margin-bottom: -2.5em;
    display: table;
    text-align: center;
}

#search {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #FF6464;
    color: white;
    vertical-align: bottom;
    margin: 0 auto 0 0;
    width: 20%;
    border: none;
}

#search:hover {
    background-color: #FF3939;
}

#search:active {
    background-color: #C60000;
}

.card-top {
    width: 100%;
    height: 3.5em;
    background-color: #FF0000;
    padding-left: 2px;
    margin: 0;
}

.card {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3)
}

/** Fonts **/
h1, h3, h6 {
    color: white;
}

h1 {
    font-size: 4em;
    margin-top: 2em;
}

h2 {
    font-size: 5em;
    position: relative;
    color: #FF0000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: 4px 4px 0 #FF0000;
    line-height: 2em;
    margin: auto;
}

h3 {
    font-size: 2em;
    text-align: center;
    position: relative;
}

h4 {
    margin: 0 0 0 0.75em;
    text-align: center;
}

h5 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

h6 {
    text-align: center;
    padding-top: 2em;
    margin: 0;
}

p {
    margin-left: 2px;
    margin: 0;
}

.card-title {
    color: white;
}

.center {
    text-align: center;
}
